boto3
mysql-connector-python
sqlalchemy
pymysql
httplib2
uritemplate
pyaml
pyopenssl
LatLon
pykml
solidAPI
solid_file
overpass
overpy
osmium
xmltodict
requests
certifi
h3
mapboxgl
folium
pyTigerGraph
gspread
googlemaps
polyline
geopandas
sklearn
confluent-kafka[avro,json,protobuf]
wikirepo
qwikidata
sparql-client
httpx
tensorflow
rdflib
pandas
networkx
node2vec
flat-table
wordcloud
seaborn
plotly
pyfiglet
plac
geopy
tornado==5.0
#pandas==0.23.4



